PORT=3000
NODE_ENV=development
DATABASE_URL="file:./dev.db"

JWT_ACCESS_SECRET=change_me_access_secret_min_16_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_min_16_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

DEVICE_API_KEY=esp32_shared_secret_key_here
